@import './../../App.css';


body {
  overflow-x: hidden;
  background-color: #000;
  color: white !important;
  background: url('../../../public/images/setup.jpg');
  background-size:cover; 
  background-repeat: no-repeat;
  background-position: center center; 

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a8;
    z-index: -1;
  }
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2000px;
  }
}

.table>:not(caption)>*>* {
  background-color: #f2f2f2;
}

.hover-highlight {
  background-color: #f2f2f2;
  padding: 2px !important;
}

.hover-highlight:hover {
  background-color: #e6e6e6 !important;
  cursor: pointer !important;
}

.container {
  max-width: 1720px !important;
}

.table-container {
  max-width: 1300px;
  margin-top: 50px;
}

.btn {
  margin: 15px;
  width: 200px;
  cursor: pointer;
}

.list-group {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px !important;
  margin-bottom: 50px !important;
}

InfoMessages {
  margin-top: 30px;
}

.btn-success {
  background-color: #174a33 !important
}

.btn-danger {
  background-color: #7e1b24 !important;
}

.list-group-item {
  padding: 5px !important;
}

.sandbox-link {
  cursor: pointer;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kgGExh {
  min-width: 200px !important;
}

.rejected-reasons-container {
  padding: 20px;
  text-align: left;
}

.rejected-reasons-container .btn{
  margin-left: 0px;
}

.rdt_TableCell:not(:last-of-type) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.candidates-table {
  border-width: thick;
  border-color: black;
  padding: 20px;
  background: #e1e1e1;
}

.candidates-table a {
  color: white;
}

.rejected-reason-select {
  font-size: 14px !important;
}

.btn-search {
  margin-bottom: 15px;
  margin-top: 25px;
}

.btn-group .btn {
  margin-left: 0px;
  margin-right: 0px;
}

.hidden-columns-container {
  color: black;
  text-align: left;
  font-size: 13px;
}

// hide page size since is not developed
.rdt_Pagination > *:nth-child(-n+2) {
  display: none;
}
